<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This app was built by <a target="_blank" href="https://github.com/msmi19">Morgan</a>. She has recently decided to become a Full Stack Web Developer. Follow along in her exciting, challenging journey!
  </p>
  <br />
  <p>
    This first app allows any user to put in a desired quote (between 3-140 characters) with an author. Once the quote is accepted, it will be stored in the app endlessly. Additionally, every time the page is refreshed, the user will see a different quote. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://bootcamp.cvn.columbia.edu/coding/online/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'mecopy.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Morgan Smith</h2>
      <br />
      <p>
        Morgan Smith is an upcoming web developer, and she has recently started her training with <a target="_blank" href="https://bootcamp.cvn.columbia.edu/coding/online/"> Columbia University's Coding Bootcamp</a>. Upon completion of this program, Morgan hopes to gain further experience as she enters the workforce. Soon after, Morgan will go back to college to obtain her degree, and will accumulate many more certifications along the way. To keep up with Morgan and her work, take a look at her <a target="_blank" href="https://msprogramming.netlify.com"> portfolio</a>. Here, you will be able to view Morgan's knowledge on coding, as well as some of her projects.
      </p>
    </div>
  </div>
  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />